
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://source.unsplash.com/2560x1600/?landscape");

}

div {
    background-color: black;
    width: 430px;
}
